@charset "UTF-8";

@font-face {

    font-family: 'idroid';
    src: url(fontes/idroid.otf) format(opentype);

}

@font-face {
    font-family: 'bebas';
    src: url(fontes/Bebas.ttf) format(truetype);
}

@font-face {
    font-family: 'jersey';
    src: url(fontes/fontejersey.ttf) format(truetype);
}

body {

    background: #cec655;
    margin: auto;
    font-weight: bolder;


}


#cabecalho {
    
    background-image: linear-gradient(#dbcb00, #fdf02a,#78452a, #743a00 ) ;
    font-family: 'bebas';
    text-align: center;
    margin: auto;
    box-shadow: 0px 3px 50px black;


}

#mt {

    max-width: 100%;
    height: auto;

}

a {

    color: white;
    text-decoration: none;


}

#redes > a {

    color: black;

}

#menu {


    font-family: Arial, Helvetica, sans-serif;
    text-align: left;



}



#home {
    padding-left: 10px;


}

#noticias {

    padding-left: 10px;

}

#caracteristicas {

    padding-left: 10px;

}

#fale {

    padding-left: 10px;

}

#home:hover {

    color: #dbcb00;

}

#noticias:hover {

    color: #dbcb00;

}

#caracteristicas:hover {

    color: #dbcb00;

}

#fale:hover {

    color: #dbcb00;

}

#insta:hover {

    color: #dbcb00;

}


#tcabecalho {

    
    color: white;
    font-size: 40px;
    text-shadow: 50, 50, black, 30;

    
}

#pcabecalho {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

#main {

    max-width: 800px;
    min-width: 10px;
    padding: 20px;
    background-color: white;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0px 0px 5px rgb(0, 0, 0);
    text-align: center;
    margin-bottom: 20px;
    border-radius: 0px 0px 5px 5px;

}

#dmod {

    box-shadow: 0px 0px 8px black;
    background-color: #dbcb00 ;
    border-radius: 5PX;
    padding: 5px;
    padding-top: 2px;
    

}

#tmod {

    font-family: 'idroid';
    color: #78452a;
    text-align: center;
    text-decoration: underline wavy ;
    font-size: 50px;

}

#sobj {

    color: #78452a;

}


#tvan {

    font-family: 'idroid';
    color: #78452a;
    background-image: linear-gradient( to right, #dbcb00, #c9c484, white  );
    border-radius: 5px 0px 0px 5px;

}

#ppre {

    font-family: 'jersey';
    font-size: 40px;
    text-align: center;
    
    

}

#droidz {

    margin: auto;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 0;
    margin-bottom: 0;
    columns: 2;

}

#icres {

    text-align: centerw;

}

#wpp {

text-align: left;

}

#nmr {

    text-decoration: underline;

}



#redes {


    text-align: left;
    


}

#fim {

    background-color: #743a00;
    color: black;
    text-align: center;
    padding-bottom: 1px;
    padding-top: 1px;
    margin: auto;
}



